enunciado {
    font-family: Verdana;
    font-size: 13 px;
    color: Black;
    background-color: #a0a0a0;
}

opcion {
    font-family: Verdana;
    font-size: 13 px;
    color: Black;
}

enunciado,
opcion {
    display: block;
}

opcion {
    display: list-item;
    list-style: disc inside;
    margin-left: 20px;
}

opcionO {
    display: list-item;
    list-style: disc inside;
    margin-left: 20px;
}

textarea {
    vertical-align: top;
    width: 300px;
}

table,
td {
    border: 1px solid black;
}